<!--
 * @Description: 
 * @Author: 
 * @Date: 2021-07-26 16:44:51
 * @LastEditTime: 2021-09-08 17:06:37
 * @LastEditors: Tuohaohu
 * @Usage: 
-->
<template>
  <div id="app">
    <Editor />
    <!-- <VideoPlayer /> -->
  </div>
</template>

<script>
import Editor from './components/Editor.vue'
import VideoPlayer from './components/VideojsPlayer.vue'

export default {
  name: 'App',
  components: {
    Editor,
    VideoPlayer
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
