<!--
 * @Description: 
 * @Author: 
 * @Date: 2021-07-26 16:44:51
 * @LastEditTime: 2021-08-05 20:31:27
 * @LastEditors: Tuohaohu
 * @Usage: 
-->
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="./static/lib/video-js-7.9.7/video-js.css" rel="stylesheet" />
    
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">qqq</div>
    <script src="./static/lib/video-js-7.9.7/video.min.7.9.7.js"></script>
    <script src="https://unpkg.com/@ffmpeg/ffmpeg@0.9.5/dist/ffmpeg.min.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
