<!--
 * @Description: 
 * @Author: 
 * @Date: 2021-07-28 15:45:34
 * @LastEditTime: 2021-09-08 17:10:39
 * @LastEditors: Tuohaohu
 * @Usage: 
-->
<template>
  <div id="app">
    <!-- <input type="text"  placeholder="请输入用户名" />
    <button @click="login">点击登录</button> -->
    <input type="text" v-model="projectName" placeholder="请输入项目名称" />
    <button @click="createPriject">确定创建</button>
  </div>
</template>

<script>


export default {
  name: 'App',
  data() {
    return {
      projectName:'ss'
    }

  },
  methods:{
    login(){

    },
    createPriject(){
      
      let postData = { 
        "Name":this.projectName,
        "AspectRatio":'16:9',
        "Owner":{
          "Id":'thhjfno1',
          "Type":'PERSON',
        },
        "Category":'VIDEO_EDIT'
      }
      var res=this.$qs.stringify({
        postData
      })
      this.$axios({
                method:'POST',
                url:'/video/CreateProject',
                data:{'data':JSON.stringify(postData)}
            }).then((response) =>{          //这里使用了ES6的语法
                console.log(`---------------------${response.data}`)       //请求成功返回的数据
            }). catch((error) =>{
              console.log(error)
            })      //请求失败返回的数据
    
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>