<template>
  <div style="width:800px;height:600px;background:red">
    <button @click="testClick()">
      二维码
    </button>
    <video
      ref="videoPlayer"
      class="video-js vjs-theme-city vjs-16-9 vjs-big-play-centered"
      muted
    ></video>
    <!-- <p>{{ options.source.playUrl }}</p> -->
  </div>
</template>

<script>
export default {
  name: 'VideoPlayer',
  props: {
  },
  data () {
    return {
      player: null,
      lightness:0,
      events: [
        'abort', // 未触发
        'canplay',
        // "canplaythrough",
        // "durationchange",
        // "emptied",
        'ended',
        'error',
         "waiting"
      ],
      options: {
        autoplay: true,
        controls: true,
        // loop: false,
        // liveui: true,
        playbackRates: [1, 1.25, 1.5, 2, 3],
        children: {
          mediaLoader: true,
          posterImage: true,
          loadingSpinner: true,
          bigPlayButton: true,
          controlBar: {
            children: {
              playToggle: true,
              currentTimeDisplay: true,
              timeDivider: true,
              durationDisplay: true,

              liveDisplay: true,

              volumePanel: { inline: false },
            }
          },
          errorDisplay: false
        },
        // poster: poster,
        sources: [
          {
            src:
              'https://1255382607.vod2.myqcloud.com/34dfe629vodcq1255382607/f1b27cee5285890814404920668/f0.mp4',
            type: 'video/mp4'
          }
        ]

      }
    }
  },
  mounted () {


    if (this.player) {
      this.player.dispose()
    }
    // var _this = this
    this.player = videojs(
      this.$refs.videoPlayer,
      this.options,
      function onPlayerReady () {
      }
    )
        videojs.addLanguage('zh',{"Play":"播放"})
    this.addControlBarRefreshBtn()
    this.player.addClass('vjs-hls-quality-selector')

    this.events.forEach(el => {
      this.player.on(
        el,
        ()=> {
          if(el=='error'){
            var opened =this.player.errorDisplay.opened();
            var msg ='现场直播异常，建议进入教室听课'
            if (opened) {
             this.player.errorDisplay.fillWith(msg);
            } else {
              this.player.error(msg);
            }
          }
          videojs.log(el)
        }
        // true
      )
    })

    this.player.on('timeupdate', function (event) {

    })

  },
  beforeDestroy () {
    if (this.player) {
      this.player.dispose()
    }
  },
  methods: {
   addControlBarRefreshBtn() {
    // add live sync btn      
    var _this=this;
    var Button = videojs.getComponent('Button');
    var RefreshBtn = videojs.extend(Button, {
      constructor: function() {
        Button.apply(this, arguments);
        this.addClass("vjs-live-sync");
        this.controlText('Refresh');
      },

      handleClick: function() {
        //var liveSources = $('#lesson-title').data('liveSources');

            var liveSources =  _this.options.sources;
            _this.player.pause();
            _this.player.reset();
            _this.player.src(liveSources);
           _this.player.load();
            _this.player.play();
        
        // videoPlay(liveSources,true);
        // liveRetry();
      }
    });
    videojs.registerComponent('RefreshBtn', RefreshBtn);
    this.player.getChild('controlBar').addChild('RefreshBtn',{},1);
},
    testClick () {
    this.$axios({
        method:'POST',
        url:'video/blobUrl',
    }).then((response) =>{    
      debugger      //这里使用了ES6的语法
        console.log(response)       //请求成功返回的数据
    }). catch((error) =>{
      console.log(error)
    })     
      var data = [
        {
          src:
            'https://1255382607.vod2.myqcloud.com/34dfe629vodcq1255382607/312ce8095285890814405391129/f0.mp4',
          type: 'video/mp4'
        }
      ]
      this.player.src(data)
      this.player.load(data)
    }
  },
  watch: {

  }
}
</script>

<style>
* {
  touch-action: pan-y;
}

/*直播协议样式*/
</style>
